@font-face {
    font-family: 'Inter-regular';
    src: url('../HomePage//fontFiles/Inter-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Inter-bold';
    src: url('../HomePage//fontFiles/Inter-Bold.ttf') format('opentype');
}
@font-face {
    font-family: 'Inter-medium';
    src: url('../HomePage//fontFiles/Inter-Medium.ttf') format('opentype');
}
    .mainContainer{
        display: flex;
        gap: 18px;
        height: 200vh;
        background: var(--system-background, #F6F8FA);
    }
    .leftContainer{
        display: flex;
        flex-direction: column;
        background: #FFF;
        position: fixed;
        height: 100vh;
        align-items: center;
        padding: 16px 20px;
    }
    .rightContainer{
        background: #FFF;
        width: 87%;
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 12px 12px;
        margin-left: 11rem;
        height: fit-content;
    }
    .leftInnerContainer{
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        gap: 4px;
        position: relative;
    }
    .icon{
        width: 20px;
        height: 20px;
    }
    .name{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        /* font-size: 12px; */
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
    .rightNavbar{
        display: flex;
        align-items: center;
        padding-left: 15px;
        gap: 20px;
        border-radius: 12px 12px 0px 0px;
        border-bottom: 1px solid var(--system-divider, #DDE5EA);
    }
    .heading{
        padding: 20px 0px;
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
        height: 100%;
    }
    .vertical_line{
        width: 1px;
        height: 50px; 
        background-color: #d4d6d7;
    }
    .subHeading{
        padding: 25px 0px;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--secondary-1, #1C4980);
        display: flex;
        align-items: center;
        border-bottom: 3px solid var(--secondary-1, #0073E6);
    }
    .active{
        color: var(--secondary-1, #0073E6);
    }
    .rightLowerDiv{
        padding: 16px 15px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 12rem;
    }
    .overViewDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .myAssessmentsDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        transition: margin-top 0.5s ease;
    }
    .lowerDivsHeadings{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
    .recordDiv{
        display: flex;
        border-radius: 12px;
        border: 1px solid var(--system-stroke-2, #DADCE0);
        width: 100%;    
        transition: height 0.5s ease;
    }
    .totalAssessments{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        align-items: flex-start;
    }
    .candidates{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 10% 1rem 1rem;
        align-items: flex-start;
        border-left: 1px solid var(--system-stroke-2, #DADCE0);
        border-right: 1px solid var(--system-stroke-2, #DADCE0);
    }
    .source{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 15% 1rem 1rem;
        align-items: flex-start;
        border-right: 1px solid var(--system-stroke-2, #DADCE0);
    }
    .totalPurpose{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        align-items: flex-start;
    }
    .recordsHeadings{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
    .totalAssessmentsDeatilsDiv{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .assessmentsNumber{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
    }
    .NumberDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }   
    .NumberSpan{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .Number{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
    }
    .NumberSmall{
        color: var(--status-success, #05C165);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
    .NumberHeading{ 
        color: #1C4980;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
    .smallVerticalLine{
        width: 1px;
        height: 40px; 
        background-color: #DADCE0;
    }
    .myAssessments{
        display: flex;
        gap: 2%;
        width: 100%;
    }
    .addAssessments{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        border: 1px dashed var(--system-stroke-2, #DADCE0);
        background: var(--system-background, #F6F8FA);
        width: 30%;
        padding: 27px;
        gap: 1rem;
    }
    .submittedAssessments{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
        border-radius: 12px;
        border: 1px solid var(--system-stroke-2, #DADCE0);
        background: var(--text-white, #FFF);
        padding: 27px;
    }
    .bagIconAndMoreOtionsDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .assessmentNameAndDate{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .durationAndQuesDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .textNewAssignmemt{
        color: var(--text-100, #1C4980);
        text-align: center;
        font-family: Inter-regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .textNewAssignmemtDsc{
        color: var(--text-100, #1C4980);
        text-align: center;
        font-family: Inter-regular;
        /* font-size: 12px; */
         font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .mathAssessmentText{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
    }
    .dateContainer{
        display: flex;
        gap: 10px;
    }
    .jobtext{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
    }
    .dateCallenDiv{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .date{
        color: var(--primary-50, #8DA4BF);
        font-family: Inter-regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        white-space: nowrap;
    }
    .leftDurationDiv{
        display: flex;
        gap: 10px;
    }
    .durationNumberDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .duration{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 19.6px */
    }
    .durationTxt{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 19.6px */
    }       
    .quesNumberDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .ques{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 19.6px */
    }
    .quesText{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
    .assessmentSareBtn{
        display: flex;
        align-items: center;
        border-radius: 50px;
        border: 1px solid var(--text-100, #1C4980);
        padding: 4px 10px;
        gap: 5px;
        background: var(--text-white, #FFF);
    }
    .dottedBorder::after{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0%;
        width: 96%;
        border-bottom: 1px dashed var(--system-stroke-2, #DADCE0);
    }
    .rightShareDiv{
        display: flex;
        gap: 10px;
    }
    .shareText{
        color: #1C4980;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
    .adminDiv{
        border-radius: 22px;
        border: 1px solid var(--accent-new-red, #D63500);
        background: var(--accent-red-light, #FBEBEA);
        color: var(--accent-new-red, #D63500);
        font-family: Inter-regular;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: fit-content;
        padding: 2px 8px;
        margin-top: 1rem;
    }
    .activeSideNav{
        border-radius: 8px;
        border: 1px solid var(--secondary-1, #0073E6);
        background: #E5F1FC;
    }
    .mobileviewtopNavbar{
        display: none;
        flex-direction: column;
        padding-left: 15px;
        padding-top: 2rem;
    }
    .mobileTopUpperDiv{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .assessmentLabel{
        color: var(--text-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
    }
    .mobileTopLowerDiv{
        display: flex;
    }
    .myAssessmentLabel{
        width: 50%;
        padding: 17px 0px;
        color: var(--secondary-1, #0073E6);
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-bottom: 2px solid var(--secondary-1, #0073E6);
    }
    .unstopAssessmentlabel{
        width: 50%;
        padding: 17px 0px;
        color: var(--text-85, #3E6493);
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-bottom: 2px solid var(--system-background, #F6F8FA);
    }
    .slidingNavbar{
        width: 70%;
        display: flex;
        flex-direction: column;
        background: var(--secondary-5, #F2F8FE);
        height: 200vh;
        position: absolute;
        z-index: 2;
        padding: 40px 20px 10px 20px;
        transition: left 0.3s ease;
        transform :translateX(-200%);
        gap: 2rem;
    }
    .menuHeader{
        display: flex;
        justify-content: space-between;
    }
    .menuTxt{
        color: var(--primary-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 19.6px */
    }
    .menuItem{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 17px 10px;
    }
    .assessmentMenuItem{
        border-radius: 8px;
        border: 1px solid var(--secondary-1, #0073E6);
        background: #E5F1FC;
    }
    .menulabel{
        color: var(--primary-100, #1C4980);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
    .roundLeftDiv{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .roundStatusDiv{
        display: flex;
        justify-content: space-between;
    }
    .strokeSeparater{
        border-bottom: 1px dashed var(--system-stroke-2, #DADCE0);
        height: 1px;
        margin-top: 20px;
        margin-bottom: 15px;    
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent grey color */
        z-index: 1;
    }

    .mobileMyAssessments{
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .mobileMyAssessmentsTxt{
        color: var(--text-100, #1C4980);
        font-family: Inter-regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .popupContainer {
        position: fixed;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 5px;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
        width: 45%;
        padding-bottom: 0px;
    }
    .popupOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        z-index: 9;
      }
      .modalHeader{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid var(--system-stroke-2, #DADCE0);
      }
      .popupHeading{
        color: var(--text-100, #1C4980);
        text-align: center;
        font-family: Inter-regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .popupLabels{
        color: var(--text-100, #1C4980);
        text-align: center;
        font-family: Inter-regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .modalContent{
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-bottom: 0px;
        position: relative;
      }
      .popupInput{
        border-radius: 8px;
        border: 1px solid var(--system-stroke-2, #DADCE0);
        background: #FFF;
        padding: 15px;
        width: 96%;
        outline: none;
        padding-right: 0px;
        margin-bottom: 10px;
      }
      .popupSelect{
        border-radius: 8px;
        border: 1px solid var(--system-stroke-2, #DADCE0);
        background: #FFF;
        padding: 15px;
        width: 100%;
        outline: none;
        margin-bottom: 10px;
      }
      .popupContainer::placeholder{
        color: var(--text-100, #1C4980);
        text-align: center;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .skillsContainer{
        width: 100%;
      }
      .skillsAddedDiv{
        border-radius: 8px 8px 0px 0px;
        border: 1px solid var(--system-divider, #DDE5EA);
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      .skill{
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: 22px;
        background: var(--accent-blue-light, #DDEDFF);
        color: var(--text-100, #1C4980);
        font-family: Inter-regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 6px 8px 6px 10px;
      }
      .skillInput{
        border-radius: 0 0 8px 8px ;
        border: 1px solid var(--system-stroke-2, #DADCE0);
        background: #FFF;
        padding: 15px;
        width: 96%;
        outline: none;
        padding-right: 0px;
        border-top: none;
        margin-bottom: 10px;
      }
      .popupSelect option:checked{
        color: var(--text-100, #1C4980);
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .popupBtncontainer{
        box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);
        padding: 20px 30px;
        width: 90%;
        margin-top: 20px;
      }
      .saveBtn{
        border-radius: 8px;
        background: var(--secondary-1, #0073E6);
        color: #FFF;
        font-family: Inter-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px 30px;
        width: 100%;
        border: none;
        cursor: poInter-regular;
      }

    

    @media only screen and (max-width: 1350px){
        .source{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 8% 1rem 1rem;
        }
        .candidates{
            padding: 1rem 7% 1rem 1rem;
        }
    }
    @media only screen and (max-width: 1218px){
        .source{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem       ;
        }
        .candidates{
            padding: 1rem;
        }
    }
    @media only screen and (max-width: 1100px){
        .recordDiv{
            flex-direction: column;
            position: relative;
        }
        .candidates{
            order: 1;
            margin-top: 108px;
            border-left: none;
            border-right: none;
            border-top: 1px solid var(--system-stroke-2, #DADCE0);
            border-bottom: 1px solid var(--system-stroke-2, #DADCE0);
        }
        .source{
            order: 2;
            border-right: none;
        }
        .totalAssessments , .totalPurpose{
            width: 45%;
        }
        .totalAssessments{
            position: absolute;
            top: 0;
            left: 0;
            border-right: 1px solid var(--system-stroke-2, #DADCE0);
        }
        .totalPurpose{
            position: absolute;
            top: 0;
            right: 0;
        }
        .myAssessments{
            flex-wrap: wrap;
        }
        .addAssessments , .submittedAssessments{
            margin-bottom: 1rem;
            width: 42%;
        }
        .mainContainer{
            height: fit-content;
        }
    }
    @media only screen and (max-width: 1015px){
        .addAssessments , .submittedAssessments{
            margin-bottom: 1rem;
            width: 38%;
        }
    }
    @media only screen and (max-width: 938px){
        .addAssessments , .submittedAssessments{
            margin-bottom: 1rem;
            width: 92%;
        }
    }
    @media only screen and (max-width: 790px){
        .totalPurpose{
            width: 44%;
        }
    }
    @media only screen and (max-width: 775px){
        .rightContainer{
            width: 88%;
            flex-grow: 1;
        }
    }
    @media only screen and (max-width: 706px){
        .totalAssessments , .totalPurpose{
            width: 44%;
        }
    }
    @media only screen and (max-width: 662px){
        .rightContainer{
            width: 100%;
            flex-grow: 1;
        }
        .totalPurpose{
            width: 43%;
        }
    }
    @media only screen and (max-width: 600px){
        .totalPurpose{
            width: 38%;
        }
    }
    @media only screen and (max-width: 550px){
        .rightNavbar{
            display: none;
        }
        .leftContainer{
            display: none;
        }
        .lowerDivsHeadings:first-child{
            display: none;
        }
        .rightContainer{
            margin-left: 0px;
        }
        .mobileviewtopNavbar{
            display: flex;
        }
        .mobileMyAssessments{
            display: flex;
        }
        .popupContainer{
            width: 91%;
        }
    }
    @media only screen and (max-width: 540px){
        .rightContainer{
            width: 110%;
            flex-grow: 1;
        }
    }
    @media only screen and (max-width: 480px){
        .rightContainer{
            width: 133%;
            flex-grow: 1;
        }
    }
    @media only screen and (max-width: 400px){
        .rightContainer{
            width: 150%;
            flex-grow: 1;
        }
    }
    @media only screen and (max-width: 320px){
        .rightContainer{
            width: 164%;
            flex-grow: 1;
        }
    }
    @media only screen and (min-width: 550px){
        .slidingNavbar, .overlay{
            display: none !important;
        }
    }
